@using Database.Entities
@using Database.Services
@using Microsoft.AspNetCore.Http
@using System.Net
@inject NavigationManager Navigation

<div class="card">
<div class="card-header">Login</div>
<div class="card-body">
<EditForm Model="@_logon" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <InputText type="login" id="login" placeholder="Username" @bind-Value="_logon.Login" /><br/>
    <InputText type="password" id="password" placeholder="Password" @bind-Value="_logon.Password" />
<div class="card-footer">
    <button type="submit" class="btn btn-primary">Log In</button>
</div>
</EditForm>
</div>
@if (_logError)
{
    <div class="card-footer">
    <div class="alert alert-danger" role="alert">
      <strong>Incorrect</strong> Username or Password.
    </div>
    </div>
}
</div>

@code {
    
    [Inject]
    UserService Service { get; set; }

    private LoginInfoFields _logon = new LoginInfoFields();
    private bool _logError;
    
    private void HandleValidSubmit()
    {
        UserService.ActiveUser = Service.UserController.Login(_logon.Login, _logon.Password);
        if (UserService.ActiveUser == null)
            _logError = true;
        else
        {
            Navigation.NavigateTo("/", true);
        }

    }


}