@page "/Groups"
@using Database.Data
@using DatabaseAdapter.OracleLib.Models
<select class="form-control" @bind="@SelectedGroupId">
    @foreach(var group in testUser.Groups)
    {
        <option value = "@group.GroupId"> @group.Name </option>
    }
</select>
<div class="row">
    <div class="col-sm-12">
        <button id="btnAdd" class="btn btn-success btn-md" Style="width: 100px;" OnClick="AddGroup">Add</button>
         <button id="btnDelete" class="btn btn-danger btn-md" Style="width: 100px;" OnClick="DeleteGroup">Delete</button>
         <button id="btnUpdate" class="btn btn-primary btn-md" Style="width: 100px;" OnClick="UpdateGroup">Edit</button>
     </div>
</div>
<hr>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Middle</th>
      <th scope="col">Last</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>O</td>
      <td>Komo</td>
<td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>T</td>
      <td>Fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry</td>
      <td>Bird</td>
    </tr>
  </tbody>
</table>

@code {

    User testUser = DataGen.getDefaultUser(1)[0];
    
    
    
    int selectedGroupId;

    int SelectedGroupId
    {
        get => selectedGroupId;
        set
        {
            selectedGroupId = value;

        }
    }
    
    


    
}